<% provide(:title, "TOWER TOWER TOWER") %>
<%# provide(:head, javascript_include_tag("build_orders")) %>
<div id = "panel">
	<div id = "alerts">
		<h4>Instructions</h4>
		<div id="instructions"></div>
	</div>
	<br/>

	<div id = "messages">
		
	</div>
</div>

<div id="craft">
	<div id="canvas"></div>
	<div id="controls">
		<h4>Controls</h4>
		Move the mouse to move around the tower<br/>
		Click at the top or bottom of the screen to move up and down the tower<br/>
		Space rotate your brick.
	</div>
</div>