<% provide(:title, "TOWER TOWER TOWER") %>
<%# provide(:head, javascript_include_tag("build_orders")) %>
<div id="craft">
	<div id="canvas"></div>
	<div id="controls">
		Use arrow keys to move around the tower. Use A and D to rotate your brick.
	</div>
</div>

<div id = "panel">
	<div id = "alerts">
		<h4>Instructions</h4>
		<div id="instructions">Place your bricks on the tower to build it higher! Overlap bricks of the same color to make them stronger but overlapping different colors will make them weaker or destroy them! You can see how strong a brick is based on how many lines it has on it. Bricks without support will fall down and be destroyed!</div>
	</div>
	<br/>

	<div id = "messages">
		
	</div>
</div>