<% provide(:title, "TOWER TOWER TOWER") %>

<div id = "panel">
	<div id = "alerts">
		<h4>Instructions</h4>
		<div id="instructions"></div>
	</div>
	<br/>

	<div id = "messages">
		
	</div>
</div>

<div id="craft">
	<div id="canvas"></div>
	<div id="controls" class = "box">
		<strong>Controls <a href="#" class="close">&times;</a></strong><br>
		Move the mouse to move around the tower<br/>
		Space rotate your brick.<br>
    Brown bricks have been recently placed.
	</div>
</div>