<% provide(:title, "WHAT HAPPENED") %>
<%# provide(:head, javascript_include_tag("build_orders")) %>
<div id="craft">
	<div id="canvas"></div>
</div>

<div id = "panel">
	<div id = "messages">
		<h3>Build Orders</h3>
		<ul>
		<% @orders.each do |order| %>
			<li>
				<% order.message.split(" ").each do |glyph| %>
					<%= render partial: 'shared/glyph_read', locals: {glyph: @glyphs.find(glyph)} %>
				<% end %>
				<% unless order.user.nil? %>
					- <%= order.user.name %>
				<% else %>
					- A Mysterious Stranger
				<% end %>
			</li>
		<% end %>
		</ul>
	</div>
</div>

<% unless @prev.nil? %>
	<%= link_to "Previous", build_order_path(@prev.used.to_i) %>
<% end %>
<% unless @next.nil? %>
	<%= link_to "Next", build_order_path(@next.used.to_i) %>
<% end %>