<% provide(:title, "WHAT HAPPENED") %>
<h3>Orders from <%= @last_order.strftime("%-m/%-d, %l %p") %></h3>
<div id="craft">
	<div id="canvas"></div>
</div>

<div id = "panel">
	<div id = "messages">

	</div>
</div>

<% unless @prev.nil? %>
	<%= link_to "Previous", build_order_path(@prev.used.to_i) %>
<% end %>
<% unless @next.nil? %>
	<%= link_to "Next", build_order_path(@next.used.to_i) %>
<% end %>