<% provide(:title, "About Tower Brick Lightning") %>
<h1>What is Tower Brick Lightning?</h1>
<p>
	Tower Brick Lightning is a browser based multiplayer game about building a massive tower up to the heavens. Try to work with others to build the tower as high as you can.
</p>
