<% provide(:title, "About Tower Brick Lightning") %>
<h1>What is Tower Brick Lightning?</h1>
<p>
	Tower Brick Lightning is a massively multiplayer game about building a tower up to the heavens. By stacking and combining bricks you can build the tower but the higher you get, the more challenges arise. Work together with your fellow builders and maybe you'll be able to reach the tower. And you've been cursed, so your only forms of communication are a limited set of glyphs.
</p>

<p>
	Tower Brick Lightning is currently in open alpha, which means you can come and play but I may be changing things, adding new features, removing new features, deleting the entire tower, breaking everything, etc all the time. If you any feedback or encounter an error, don't hesitate to <a href = '/report'>report it.</a>
</p>

<h1>How do I play Tower Brick Lightning?</h1>
<p>
	Click on "Build Tower" or "Play Now" to get started - there you can submit bricks to be added to the tower. To learn more about what will happen when you submit bricks, read the pages below:<br>
	<ul>
		<li><a href = '/actions'>Actions</a></li>
		<li><a href = '/level'>Levels</a></li>
		<li><a href = '/strength'>Strength</a></li>
		<li><a href = '/gravity'>Gravity</a></li>
	</ul>
</p>

<h1>Where Did This Come From?</h1>
Tower Brick Lightning was made by <a href = "http://thejhyde.zone">Julian Hyde</a>. Glyphs are from <a href ="https://thenounproject.com">the Noun Project</a>.