<% provide(:title, "About TOWER TOWER TOWER") %>
<h1>What is Tower Tower Tower?</h1>
<p>
	Tower Tower Tower is a massively multiplayer game about building a tower up to the heavens.
  By stacking and combining bricks you can build the tower but the higher you get, the more
  challenges arise. And you've been cursed, so your only forms of communication are a limited set of
  glyphs. Work together over weeks and months with your fellow builders and maybe you'll be able to
  reach <span class = "overlap" data-text = "your reward">the heavens</span>.
</p>

<p>
	Tower Tower Tower is currently in open alpha, which means you can come and play but I may be
  changing things, adding new features, removing new features, deleting the entire tower, breaking
  everything, etc all the time. If you any feedback or encounter an error, don't hesitate to
  <a href = '/report'>report it.</a>
</p>

<h1>How do I play Tower Tower Tower?</h1>
<p>
	Click on <%= link_to "'Build Tower' or 'Play Now'", new_build_order_path%> to get started - there
  you can submit bricks to be added to the tower. More information about what will happen when you
  add to the tower can be found on the links below:<br>
	<ul>
		<li><a href = '/actions'>Actions</a></li>
		<li><a href = '/level'>Levels</a></li>
		<li><a href = '/strength'>Strength</a></li>
		<li><a href = '/gravity'>Gravity</a></li>
	</ul>
</p>

<h1>Where Did This Come From?</h1>
Tower Tower Tower was made by <a href = "http://thejhyde.zone">Julian Hyde</a>. Glyphs are from
<a href ="https://thenounproject.com">the Noun Project</a> and were made by shimaru, André Luiz Gollo, yugudesign.com, Vectors Market, To Uyen, Muneer A. Safiah, Alfredo Hernandez, Vishal Marotkar, Juan Pablo Bravo, Tina Rataj-Berard, Tahsin Tahil, Luis Prado, luism, Good Fridayss, Lloyd Humphreys, Hafzih, Mallory Hawes, Alexander Simone, Brian Dys Sahagun, stolkramaker, Mister Pixel, Jan-Christoph Borchardt, Jurjen Versteeg, Lia Jian Jie, Scott Lewis, and José Campos.