<% provide(:title, "About Tower Brick Lightning") %>
<h1>What is Tower Brick Lightning?</h1>
<p>
	Tower Brick Lightning is a browser based multiplayer game about building a massive tower up to the heavens. You are trying to work with others to build the tower as high as you can.
</p>

<h1>How Does it Work?</h1>
<p>
	You build the tower by placing bricks on it. Each brick is made of one to three squares. You can place bricks anywhere you want on the tower, even on top of other bricks. By pressing A or D, you can rotate your brick. By pressing the triangles in the upper left corner, you can move up order down on the tower to see higher or lower pieces. The brick you're going to place is marked by having a white outline. After you've placed your brick, you can press S or click on it to change where it is move it again.
</p>

<p>
	Once you've placed your brick, you must leave behind a message using the glyphs provided. This message will be shown to everyone else who comes by to add bricks until your bricks are placed on the tower. This is intended to let you communicate where you placed the bricks, but hey it's your life. Do what you want.
</p>

<p>
	Every hour, on the hour, all the bricks people have placed are added to the tower. Bricks are added in the order they were submitted. If a new brick has any squares that overlaps with another brick, the overlapping squares are destroyed, even if those bits weren't there when you placed the brick. After all the bricks are placed, any pieces without sufficient support falls and is destroyed. For a brick to be supported, it must have a brick directly underneath it, underneath it to the left, or underneath it to the right. After all the bricks are placed, they can be seen on the tower.
</p>

<p>
	Signed in players get six actions each day at noon, with each action good to add one brick to the tower. If you don't use your actions, they roll over to the next day, up to 20 actions maximum. Players who haven't signed in can add two bricks the tower every day.
</p>