<% provide(:title, "About Tower Brick Lightning") %>
<h1>What is Tower Brick Lightning?</h1>
<p>
	Long ago, there were the Gods. And they were kind of jerks! They kept cursing people all the time: blighting the land, killing our crops, making bees follow us around all the time, melting our skin, all sorts of mean stuff. One day we got tired of that and decided to build a great big tower, so we could travel up to the heavens and punch the gods right in the kisser!
</p>
<p>
	However, the Gods caught wise to this plan and cursed us again! Now we can't communicate! But are we gonna let that stop us? No way! We ain't quitters. We're going to build that tower all the same!
</p>
<p>
	Tower Brick Lightning is a massively multiplayer browser based game about confusion, construction, and communication. Work with your fellow builders to build the tower up to the heavens, while trying to collaborate best you can despite the limitations the gods have cursed you with.
</p>