<%= provide(:title, "Actions") %>

<h1 class = "center">What Are Actions?</h1>
<p>
	Putting bricks on the tower costs one action. When you run out of actions, you can't place anymore bricks.
</p> 

<p>
	Actions are refreshed at noon EST every day: signed in players get 6 more actions and not signed in players get 2. Unused actions stick around but players cannot have more than 12 actions.
</p>