<%= provide(:title, "Actions") %>

<h1 class = "center">What Are Actions?</h1>
<p>
	Every time you put bricks on the tower it costs one action. When you run out of actions, you can't
  place anymore bricks.
</p> 

<p>
	Actions are refreshed at noon EST every day: signed in players get 6 more actions and not signed in
  players get 2. If you don't use all your actions in a day they'll rollover to the next day
  but players cannot have more than 12 actions.
</p>