<%= provide(:title, "Actions") %>

<h3>Actions</h3>
Every time you want to put a brick on the tower it costs one action. Once you've run out of actions, you can't place anymore bricks. Everyone gets new actions at noon Eastern Standard Time every day - signed in players get 6 more actions and not signed in players get 2. If you don't use your actions, they stick around but players cannot have more than 12 actions.