<%= provide(:title, "Falling") %>

<h1 class = "center">What is Gravity?</h1>
<p>
	Bricks need support or they will fall and be destroyed.
</p>

<p>
	A brick is supported if there is brick underneath it, underneath to the left, or underneath to the right.
</p>

<p>
	If a brick loses support at anytime, it will fall and be destroyed, even if it had been supported in the past.
</p>
