<%= provide(:title, "Falling") %>

<h1 class = "center">What is <span class = "overlap" data-text = "Falling">Gravity</span>?</h1>
<p>
	Bricks need support or they will fall and be destroyed. Destroyed by gravity. A brick is
  supported if there is brick underneath it, underneath to the left, or underneath to the
  right.
</p>

<p>
  <%= image_tag "#{Rails.configuration.x.img_url}gravity_diagram.png", class: 'centered' %>
</p>

<p>
	If a brick loses support at anytime, it will fall and be destroyed, even if it had been supported
  before.
</p>

<p>
  <span class = "overlap" data-text = "is what keeps us here Gravity">Gravity is what keeps us here</span>.
</p>