<% provide(:title, "Tower Brick Lightning") %>
<div class = "center jumbotron">
	<h1>Tower Brick Lightning</h1>
	<p>
		An exciting tower building confusion game coming soon to a browser near you!
	</p>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>