<%= provide(:title, "Levels") %>

<h1 class = "center">What are Levels?</h1>
<p>
	The tower can be divided into distinct levels, each one on top of the other. Different levels have different rules: they might take more or less time for bricks to be placed, require different strengths, or anything else.
</p>

<p>
	The highest a builder can place bricks is one level above the highest level they've built on so far. So if you've successfully put bricks on level 2, you can put bricks on level 3 but not higher. The levels above that is inaccessible to you.
</p>