<p>
	Hello <%= @user.name %>,
</p>

<p>
	Welcome to TOWER BRICK LIGHTNING. Go to the following address to confirm your email:
</p>

<%= link_to "Confirm Your Email", edit_account_activation_url(@user.activation_token, email: @user.email) %>