<% provide(:title, "The Tower - #{@pic.created_at.strftime("%_m/%d")}") %>
<div id = "tower_pic">
	<%= image_tag "#{Rails.configuration.x.img_url}tower/#{@pic.file.downcase}" %>
</div>

<% unless @previous.nil? %>
	<%= link_to "PREVIOUS", @previous %>
<% end %>

<% unless @next.nil? %>
	<%= link_to "NEXT", @next %>
<% end %>