<div class='glyph button'> 
	<p id = '<%= glyph.id %>'>
		<%= image_tag "#{Rails.configuration.x.img_url}glyphs/#{glyph.url}.png", title: glyph.meaning, width: '65', class: 'glyph_image' %>
	</p>
</div> 