//= require jquery
//= require jquery_ujs
//= require bootstrap
//= require global-js
//= require p5
//= require p5.dom
//= require Brick
//= require build_orders
//= require show_build_orders
//= require tower
//= require home
//= require_self

//Attaches event handlers to the glyphs to add and substract glyphs
//I should put some kind of check in here to see if it already has the handlers
function readGlyphs(){
	//Adds glyphs to the message when you click on the keyboard
	$(document).on('click', '.glyph', function(){
    if($('#text_area').children().length < 12 ){
      var $glyph = $(this);
      var $image = $glyph.find("img").clone();
      $image.addClass("msg_glyph");
      $('#text_area').append($image);
      $('#build_order_message').val(function(index, value){
        return value + $glyph.find("p").attr("id") + " ";
      });
    }
	});

	//Removes glyphs from the message when you click on them 
	$(document).on('click', "#text_area .glyph_image", function(){
		var msgIndex = $(this).index();

		$('#build_order_message').val(function(index, value){
	    	glyphs = value.split(' ');
	    	glyphs = glyphs.filter(function(glyph){
	    		return glyph.length != 0;
	    	});
	    	glyphs.splice(msgIndex, 1);
	    	return glyphs.join(" ") + " ";
	  	});
	  	$(this).remove();
	});
}

function noReadGlyphs(){
  $(document).off('click', '.glyph');
  $(document).off('click', '#text_area .glyph_image');
}

function loadKeyboard(bricks, calc){
	$.get('finished.js', function(){
		readGlyphs();
		var x = "";
		var y = "";
		for(var i = 0; i < bricks.length; i++){
			x += bricks[i].x() + " ";
			y += bricks[i].y() + " ";
		}
		$("#build_order_x").val(x);
		$("#build_order_y").val(y);
		if(calc.level < 1){
			$("#keyboard").remove();
      $('.text_area').remove();
		}
	});
}

function loadOrders(level, date){
	$("#messages").html("");
	$.get('/build_orders/get_orders/' + date + '.js', {level: level});
}

function nextTime(interval){
	if(interval == 0){
		return "immediately";
	}
	//And then do the rest in here
	var d = new Date();
	var next_time = d.getMinutes() - d.getMinutes() % interval + interval
	d.setMinutes(next_time);
	if( d.getHours() <= 12){
		return "at " + d.getHours() + ":" + d.getMinutes() + " AM";
	}else{
		return "at " + (d.getHours() - 12) + ":" + d.getMinutes() + " PM";
	}
}

//This was my attempt at getting custom tooltips. No success so far
$(document).ready(function(){
//  $('.glyph_image').hover(function(){
//    console.log("Hover!");
//    var image = $(this);
//    $(image).after("<div id = 'tip'>" + image.attr("title") + "</div>");
//    var bottom = image.position().top + parseInt(image.height());
//    $('#tip').css({position: 'absolute', top: bottom, left: image.position().left, 'background-color': 'light-gray', margin: '4px'});
//  }, function(){
//    $('#tip').remove();
//  });
  $('p').each(function(){
    var degrees = Math.random()*2.0 - 1;
    $(this).css({'-webkit-transform' : 'rotate('+ degrees +'deg)',
      '-moz-transform' : 'rotate('+ degrees +'deg)',
      '-ms-transform' : 'rotate('+ degrees +'deg)',
      'transform' : 'rotate('+ degrees +'deg)'});
  })
});

$(document).on('click', '.close', function(){
  $(this).parents('.box').remove();
});


