$(document).ready(function(){
	//If there's already a canvas loaded or it's the wrong page, don't load this page
	if($("canvas").size() > 0 || $(".static_pages.home").length == 0 || $("#canvas").length == 0){
		return false;
	}

	var sketch = function(p){
		var tower = [];
    var calc;
    var current_player = -1;
    var levelHeight;
		//-----------------------------------P5 FUNCTIONS---------------------------------------------
		p.setup = function(){
      calc = new BrickCalc(p);
			calc.level = 0;
			loadTower(calc.level);

      $.get('/session.json', function(data){
        current_player = data["id"];
      });
		};

		p.draw = function(){
			p.background(200);

			//Draws the bricks from the tower
			p.stroke(0);
			p.strokeWeight(1);
			for(var i = 0; i < tower.length; i++){
				drawBrick(tower[i]);
			}
      //Clouds
      p.fill(255);
      p.noStroke();
      for(var i = 0; i < p.width/(levelHeight*2/3)+1; i++){
        p.ellipse(i*(levelHeight*2/3), 0, levelHeight, levelHeight);
      }
		};

    function drawBrick(brick) {
      //Draw the rectangle for the block
      if (brick.x() >= 0 && brick.x() < calc.COLUMNS) {
        switch (brick.color()) {
          case 0:
            p.fill(0, 0, 0);
            break;
          case 1:
            p.fill(255, 255, 255);
            break;
          case 2:
            p.fill(0, 0, 200);
            break;
          default:
            p.fill(0);
        }
        if(brick.playerID == current_player){
          p.fill(200, 0, 0);
        }

        p.stroke(100);
        p.strokeWeight(0.5);
        var x = calc.xToScreen(brick.x());
        var y = calc.yToScreen(brick.y());
        p.rect(x, y, calc.BRICK_WIDTH, calc.BRICK_HEIGHT);
      }
    }

		//------------------------------------------OTHER FUNCTIONS------------------------------------
		//Loads the tower from the server
		function loadTower(){
			tower = [];
			$.get('/tower.json', function(data){
				for(var i = 0; i < data.length; i++){
					var brick = new Brick(data[i]["x"], data[i]["y"], data[i]["color"], data[i]["strength"]);
					brick.id = data[i]["id"];
          brick.playerID = data[i]["user_id"];
					tower.push(brick);
				}
				for(var i = 0; i < 4; i++){
					calc.makeSmaller();
				}

        var width = calc.BRICK_WIDTH * <%= Global.tower.bricks_layer %> + 10;
        levelHeight = calc.BRICK_WIDTH * <%= Global.tower.level_height %>;
        var height = levelHeight * <%= Global.tower.max_levels %>
				var canvas = p.createCanvas(width, height);
				canvas.parent("canvas");
        calc.center();
			});
		}
	};

	var myp5 = new p5(sketch);
});