<% provide(:title, "TOWER BROWSER") %>
<div id="craft">
	<div id="canvas"></div>
</div>

<div id = "panel">
	<h4>Controls</h4>
	Use left and right arrow keys to move around the tower on this level.<br/>
	Up and down arrow keys to move up and down the levels.<br/>
	Use Z and Q to zoom in and out.
	<h4>Brick Info</h4>
	<div id = "info">

	</div>
</div>