<% provide(:title, "TOWER BROWSER") %>
<div id="craft">
	<div id="canvas"></div>
</div>

<div id = "panel">
	<h4>Controls</h4>
	Move the mouse to the edges of the screen to move around the tower.<br/>
	Use Z and Q to zoom in and out.
	<h4>Brick Info</h4>
	<div id = "info">
		
	</div>
</div>