<% provide(:title, "TOWER BROWSER") %>
<div id="craft">
	<div id="canvas"></div>
	<div id="controls">
		<h4>Controls</h4>
		Use left and right arrow keys to move around the tower on this level.<br/>
		Up and down arrow keys to move up and down the levels.<br/>
		Use A and D to rotate your brick.
	</div>
</div>

<div id = "panel">
	
</div>