// @import "bootstrap-sprockets";
// @import "bootstrap";

// /* Variables */
$gray-medium-light: #eaeaea;

// /* mixins */
// @mixin box_sizing {
// 	-moz-box-sizing: border-box;
// 	-webkit-box-sizing: border-box;
// 	box-sizing: border-box;
// }

// /* alerts */
// .alert{
// 	width: 60%;
// 	text-align: center;
// 	font-size: 1.1em;
// 	margin-left: auto;
// 	margin-right: auto;
// 	margin-bottom: 10px;
// }

/* Tower Building */
#craft{
	float: right;
	text-align: center;
}

#panel{
	float: left;
	text-align: left;
	width: 400px;
}

// canvas{
// 	-webkit-transform: rotate(40deg);
//     transform: rotate(40deg);
// }

// body{
// 	-webkit-transform: rotate(-20deg);
//     transform: rotate(-20deg);
// }

// /* foot-er */
footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid black;
	font-size: small;
	a{
		&:hover{
			color: #222;
		}
	}
	#leftFooter{
		float: left;
	}
	ul{
		float: right;
		list-style: none;
		li{
			float: left;
			margin-left: 15px;
		}
	}
	clear: both;
}

/* forms */
input, textarea, select .uneditable-input{
	// border: 1px, solid #bbb;
	width: 50%;
	// margin-bottom: 15px;
	//@include box_sizing;
}

.right{
	margin-left: 150px
}

input{
	//height: auto !important;
	// What does the !important mean? If I'm gonna use sass I'm gonna have to learn more about it
}

// #error_explanation{
// 	color: red;
// 	ul {
// 		color: red;
// 		margin: 0 0 30px 0;
// 	}
// }

// .field_with_errors {
// 	.form-control {
// 		color: #FF0000;
// 	}
// }

// .checkbox{
// 	margin-top: -10px;
// 	margin-bottom: 10px;
// 	span {
// 		margin-left: 20px;
// 		font-weight: normal;
// 	}
// }

// #session_remember_me{
// 	width: auto;
// 	margin-left: 0;
// }

// /* Front Page */
// .jumbotron{
// 	padding: 10px;
// 	background-color: #eee;
// }

// .box{
// 	border-style: solid;
// 	border-width: 1px;
// 	margin: 10px;
// 	width: 20%;
// }

// #player_status{
// 	width: 70%;
// }

// #sidebar{
// 	float: right;
// }

// .news{
// 	font-size: 120%;
// }

// .error_report{
// 	color: red;
// }

// .content{
// 	margin: 10px
// }

/* glyphs */
.button{
	height: 75px;
    width: 75px;
    margin: 1px;
    display: inline-block;
    background-color: #FF9966;
    border-radius: 5px;
    text-align: center;
    font-size: 0.7em;
    word-wrap: break-word;
    cursor: pointer;
}

.msg_glyph{
	cursor: pointer;
}

#text_area{
	height: 50px;
}

// .resolved{
// 	font-weight: bold;
// }

// Controls
#controls{
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	border-style: solid;
}


// /* header */
header{
	-webkit-transform: rotate(1deg);
    transform: rotate(1deg);
	text-align: center;
	ul{
		display: inline-block;
		border-style: ridge;
		margin-bottom: 10px;
	}
	li{
		float: left;
		list-style-type: none;
		padding-left: 20px;
		padding-right: 20px;
		a{
			color: black;
		}
		color: black;
	}
}

// /* misc */
.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	//@include box_sizing;
}

// /* sidebar */
// aside{
// 	section.user_info{
// 		margin-top: 20px
// 	}
// 	section {
// 		padding: 10px 0;
// 		margin-top: 20px;
// 		&:first-child{
// 			border: 0;
// 			padding-top: 0;
// 		}
// 		span {
// 			display: block;
// 			margin-bottom: 3px;
// 			line-height: 1;
// 		}
// 		h1{
// 			font-size: 1.4em;
// 			text-align: left;
// 			letter-spacing: -1px;
// 			margin-bottom: 3px;
// 			margin-top: 0px;
// 		}
// 	}
// }

// /* typography */
// h1, h2, h3, h4, h5, h6{
// 	line-height: 1;
// }

h1{
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

// h2{
// 	font-size: 1.2em;
// 	letter-spacing: -1px;
// 	margin-bottom: 30px;
// 	text-align: center;
// 	font-weight: normal;
// 	color: #999;
// }

// p{
// 	font-size: 1.1em;
// 	line-height: 1.7em;
// }


// /* universal */
body{
	background-color: #add8e6;
	font-family: sans-serif;
}

// section{
// 	overflow: auto;
// }

// textarea{
// 	resize: vertical;
// }

.center{
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

// /* Users */
// .users{
// 	list-style: none;
// 	margin: 0;
// 	li{
// 		overflow: auto;
// 		padding: 10px 0;
// 		border-bottom: 1px solid #eee;
// 	}
// }