// @import "bootstrap-sprockets";
// @import "bootstrap";

// /* Variables */
$gray-medium-light: #eaeaea;

// /* mixins */
// @mixin box_sizing {
// 	-moz-box-sizing: border-box;
// 	-webkit-box-sizing: border-box;
// 	box-sizing: border-box;
// }

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

// /* alerts */
.alert {
  width: 60%;
  text-align: center;
  //font-size: 1.1em;
  margin-left: auto;
  margin-bottom: 10px;
  border-style: dotted;
  min-height: 60px;
  display: block;
  p{
    text-align: center;
  }
}

.alert-success{
  border-color: blue;
  background-color: cornflowerblue;
  margin-left: 100px;
}

.alert-danger{
  border-color: red;
  background-color: palevioletred;
  margin-right: auto;
}

.alert-warning{
  border-color: yellow;
  background-color: yellowgreen;
  margin-right: auto;
  margin-left: 0px;
}

.alert-info{
  border-color: purple;
  background-color: mediumpurple;
  margin-left: auto;
  margin-right: auto;
}

/* Tower Building */
#craft {
  float: right;
  text-align: center;
}

#panel {
  float: left;
  text-align: left;
  width: 400px;
}

// canvas{
// 	-webkit-transform: rotate(40deg);
//     transform: rotate(40deg);
// }

// body{
// 	-webkit-transform: rotate(-20deg);
//     transform: rotate(-20deg);
// }

// /* foot-er */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;
  font-size: small;
  a {
    &:hover {
      color: #222;
    }
  }
  #leftFooter {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  clear: both;
}

/* forms */
input, textarea, select .uneditable-input {
  // border: 1px, solid #bbb;
  width: 50%;
  // margin-bottom: 15px;
  //@include box_sizing;
}

.right {
  margin-left: 150px
}

.btn{
  width: auto;
  padding: 5px;
  font-size: 16px;
  background-color: gold;
  border: 2px outset buttonface;
}

.btn-primary{
  font-size: larger;
  font-weight: bold;
}

// #error_explanation{
// 	color: red;
// 	ul {
// 		color: red;
// 		margin: 0 0 30px 0;
// 	}
// }

.field_with_errors {
  .form-control {
    color: #FF0000;
  }
}

// .checkbox{
// 	margin-top: -10px;
// 	margin-bottom: 10px;
// 	span {
// 		margin-left: 20px;
// 		font-weight: normal;
// 	}
// }

// #session_remember_me{
// 	width: auto;
// 	margin-left: 0;
// }

// /* Front Page */
.jumbotron{
  padding: 10px;
  background-color: #eee;
  margin: 20px;
  border-radius: 25px;
}

.stats_box{
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
}

#information{
  text-align: center;
}

// #sidebar{
// 	float: right;
// }

// .news{
// 	font-size: 120%;
// }

.error_report{
  color: red;
}

// .content{
// 	margin: 10px
// }

/* glyphs */
.button {
  height: 75px;
  width: 70px;
  margin: 1px;
  display: inline-block;
  background-color: #FF9966;
  border-radius: 5px;
  text-align: center;
  font-size: 0.7em;
  word-wrap: break-word;
  cursor: pointer;
}

.msg_glyph {
  cursor: pointer;
}

#text_area {
  min-height: 50px;
}

// .resolved{
// 	font-weight: bold;
// }

// Controls
#controls {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  border-style: solid;
}

// /* header */
header {
  @include rotate((random(100)/10-5) + deg);

  text-align: center;
  ul {
    display: inline-block;
    border-style: ridge;
    margin-bottom: 10px;
  }
  li {
    float: left;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    a {
      color: black;
    }
    color: black;
  }
}

// /* misc */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  //@include box_sizing;
}

// /* sidebar */
// aside{
// 	section.user_info{
// 		margin-top: 20px
// 	}
// 	section {
// 		padding: 10px 0;
// 		margin-top: 20px;
// 		&:first-child{
// 			border: 0;
// 			padding-top: 0;
// 		}
// 		span {
// 			display: block;
// 			margin-bottom: 3px;
// 			line-height: 1;
// 		}
// 		h1{
// 			font-size: 1.4em;
// 			text-align: left;
// 			letter-spacing: -1px;
// 			margin-bottom: 3px;
// 			margin-top: 0px;
// 		}
// 	}
// }

// /* typography */
// h1, h2, h3, h4, h5, h6{
// 	line-height: 1;
// }

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

// h2{
// 	font-size: 1.2em;
// 	letter-spacing: -1px;
// 	margin-bottom: 30px;
// 	text-align: center;
// 	font-weight: normal;
// 	color: #999;
// }

// p{
// 	font-size: 1.1em;
// 	line-height: 1.7em;
// }

// /* universal */
body {
  //background-image: url("/brick.gif");
  background-color: #add8e6;
  font-family: sans-serif;
}

a:visited{
  color: darkgreen;
}

a:hover{
  color: salmon;
}

a:link{
  color: darkblue;
}

// section{
// 	overflow: auto;
// }

// textarea{
// 	resize: vertical;
// }

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* Glitch */
.overlap{

}

.overlap:before {
  content: attr(data-text);
  position: absolute;
}

.tip{
  background-color: grey;
  position: absolute;
  margin: 2px;
}

.achievement_level{
  text-shadow: -4px -4px red;
  font-size: large;
}

// /* Users */
// .users{
// 	list-style: none;
// 	margin: 0;
// 	li{
// 		overflow: auto;
// 		padding: 10px 0;
// 		border-bottom: 1px solid #eee;
// 	}
// }