<% provide(:title, "MINING") %>
<p id = "alert">It is time to go mining</p>

<p id = "mines">
	<% @mines.times do |i| %>
		<!-- Replace with a button tag maybe -->
		<button type="button" id = "mine<%= i %>" class = 'mine'>MINE</button> 
	<% end %>
</p>

<p id = "pack">
</p>