<% flash.each do |message_type, message| %>
	<div class = "alert alert-<%=message_type%>" >
		<%= message.html_safe %>
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	</div>
<% end %>